@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --background_color: #F6F7F9;
    --cor_cards: #fff;
    --cor_secundaria: #3563E9;
    --cor_linha: #C3D4E9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style-type: none
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--background_color);
    display: grid;
    grid-template-columns: auto 1fr;
}