@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --background_color: #F6F7F9;
    --cor_cards: #fff;
    --cor_secundaria: #3563E9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style-type: none
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #F6F7F9;
    display: grid;
    grid-template-columns: auto 1fr;
}

.title h1 {
    padding: 20px 60px;
}

.filtros{
    display: flex;
    gap: 40px;
    width: 70vw;
    border-radius: 10px;
    margin: auto;
    justify-content: center;
}

.status_exibir_container{
    display: flex;
    flex-direction: column;
    background-color: var(--cor_cards);
    width: 60vw;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.status_exibir_container .line{
    height: 1px;
    background-color: #C3D4E9;
    width: 280px;
    margin: auto;
}

.status_exibir_container > h3{
    padding: 10px;
}

.status_exibir{
    display: flex;
    gap: 150px;
    padding: 10px;
    font-size: 12px;

}

.title_status{
    font-size: 12px;
    padding: 3px;
}

.title_exibir{
    font-size: 12px;
    padding: 3px;

}

select{
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.status select{
    color: #90A3BF;
}

.status select option{
    color: #000;
}

.exibir select{
    color: #90A3BF;
}

.linev {
    position: absolute;
    height: 1px;
    background-color: #C3D4E9;
    width: 50px;
    transform: rotate(90deg);
    margin-top: 80px;
}

.pesquisa{
    width: 450px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.pesquisa_container .line{
    height: 1px;
    background-color: #C3D4E9;
    width: 280px;
    margin: auto;
    margin-top: 20px;
}
 
.pesquisa input[type="search"]::-webkit-search-cancel-button{
    display: none;
}

.pesquisa input[type="search"]::placeholder{
    color: #596780;
    font-weight: 500;
    font-size: 14px;
}

.pesquisa input{
    position: absolute;
    font-size: 14px;
    width: 450px;
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #C3D4E9;
    border-radius: 20px;
    padding: 0px 50px;
    color: #596780;
}

.pesquisa input:focus{
    border: 2px solid #3563E9;
}

.pesquisa svg{
    fill: #C3D4E9;
    margin-left: 20px;
    width: 20px;
    z-index: 2;
}


.pesquisa_container{
    background-color: var(--cor_cards);
    width: 60vw;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    outline: none;
}

.btn_adicionar{
    margin-top: 20px;
}

.btn_adicionar a{
    background-color: #3563E9;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    padding: 7px 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s;
}

.btn_adicionar a:hover{
    transition: background-color 0.2s;
    background-color: #2c52c3;
}

.btn_adicionar a:active{
    background-color: #213d92;
}

.grid-container {
    display: flex;
    margin: 40px;
    gap: 20px;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color: var(--cor_cards);
    width: 270px;
    height: auto;
    border-radius: 10px;
}

.marca {
    padding: 20px 0px 0px 20px;
}

.placa_modelo {
    position: relative;
    display: flex;
    padding: 5px 0px 20px 20px;
    color: #90A3BF;
    font-size: 14px;
}

.placa_modelo p{
    font-weight: 500;
}

.p_placa{
    position: absolute;
    right: 15px;
    border: none;
    font-weight: 500;
}

.imagem{
    margin: auto;
    display: flex;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.imagem svg{
    margin: auto;
}

.ano_status{
    position: relative;
    display: flex;
    font-size: 14px;
    align-items: center;
    font-weight: 400;
    color: #90A3BF;
    margin-top: 20px;
}

.p_ano{
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.p_ano svg{
    fill: #90A3BF;
}

.p_status{
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
}


.btn_editar{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn_editar a{
    color: #fff;
    background-color: #3563E9;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 30px;
    transition: background-color 0.2s;
}

.btn_editar a:hover{
    transition: background-color 0.2s;
    background-color: #2c52c3;
}

.btn_editar a:active{
    transition: background-color 0.2s;
    background-color: #213d92;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    background: #f8f8f8;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.page-link {
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.page-link:hover {
    background: #0056b3;
}

.current-page {
    font-weight: bold;
    color: #333;
}
